# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


/outputs
/AjioScrap/outputs/CategoryId
/AjioScrap/outputs/FilteredCategoryId
/AjioScrap/outputs/FilteredCategoryId/Invalid_Ids
/AjioScrap/outputs/FilteredCategoryId/Valid_Ids
/AjioScrap/outputs/ProductData/ExcelData
/AjioScrap/outputs/ProductData/RawJson
